/****** BASE STYLES ******/

h1 {
  font-family: "Amiri", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.185em;

  color: #000000;
}

h2 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  /* or 159% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.185em;
  text-transform: uppercase;

  color: #000000;
}

h3 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  /* or 194% */

  align-items: center;
  letter-spacing: 0.185em;
  text-transform: uppercase;

  color: #000000;
}

p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.185em;

  color: #000000;
}

.full-width {
  width: 1420px;
  height: auto;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  height: auto;
  float: left;
}

.third-width {
  width: 400px;
  height: auto;
  float: left;
}

.third-width-one,
.third-width-two,
.third-width-three {
  width: 400px;
  height: auto;
  float: left;
}

ul {
  list-style-type: none;
}

/****** Header ******/

header .full-width {
  background-color: white;
  height: auto;
  text-align: center;
  overflow: auto;
}

.full-width h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

header img {
  width: 1101px;
  height: auto;
}

nav {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 35px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.185em;

  color: #000000;
}

/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(197, 95, 27);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(197, 95, 27);
  text-decoration: underline;
}

header nav ul li {
  display: inline-block;
  padding-inline-start: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .top-nav ul {
  padding-top: 0;
}

/****** About ******/

#about {
  clear: both;
}

#about .full-width {
  height: 440px;
  align-items: center;
}

.full-width h2 {
  padding-top: 50px;
}

.full-width p {
  padding-left: 368.54px;
  padding-right: 368.54px;
}

.full-width button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 15px;
  margin-left: 630px;
  margin-top: 30px;
  padding: 10px 10px;
  background-color: #000000;
  border: none;
  color: white;
}

/****** Products ******/

#featured-products {
  clear: both;
}

#featured-products .full-width {
  background-color: #f6f3ed;
  height: 650px;
  left: 0px;
}

#featured-products .full-width h3 {
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 90px;
}

.third-width-one h3 {
  width: 357px;
  height: 21px;
  left: 90px;
}

.third-width-one,
.third-width-two,
.third-width-three,
p span {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 10px;
  line-height: 15px;
  align-items: left;
  letter-spacing: 0.185em;
}

.third-width-one {
  width: 264px;
  height: 400px;
  top: 1407px;
  float: left;
  padding: 20px 54px 110px 180px;
}

.third-width-one p {
  text-align: left;
  padding: 0;
}

.third-width-two {
  width: 264px;
  height: 400px;
  left: 508px;
  padding: 20px 54px 110px 87px;
  float: left;
}
.third-width-two p {
  text-align: left;
  padding: 0;
}

.third-width-three {
  width: 264px;
  height: 400px;
  left: 880px;
  padding: 20px 54px 110px 87px;
  float: left;
}
.third-width-three p {
  text-align: left;
  padding: 0;
}

/****** Footer ******/

#footer {
  clear: both;
  text-align: center;
}

#footer .full-width {
  background-color: #f6f3ed;
  display: inline;
}

#footer ul {
  list-style: none;
}

#footer ul li {
  display: inline-block;
  padding-right: 30px;
}

#newsletter {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-top: 82px;
}

#social-medial ul li {
  display: inline-block;
}

#footer-navigation {
  color: #000000;
}
